<div class="bg-subscribe bg-dark text-white d-flex align-items-end">
  <div class="container pb-9">
    <form action="submit" class="">
      <p class="fs-2 fw-medium mb-3">
        想收到最新消息嗎？<br>快訂閱我們！
      </p>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="輸入您的電子信箱" aria-label="user email" aria-describedby="subscribe">
            <button class="btn btn-lg btn-secondary px-13" type="button" id="subscribe">訂閱</button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>