.bg-subscribe {
  background: fixed url(../../../assets/images/subscribe-wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg)  center center / cover  no-repeat;
  height: 400px;
}

.bg-banner {
  background: fixed url(https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1493&q=80)  bottom center / cover  no-repeat;
  height: 480px;
}

.bg-overlay {
  background-color: #190014CC;
}