.link-hover-border-bottom {
  position: relative;
  &::before {
    position: absolute;
    transition: all 0.2s ease;
    content: "";
    left: 50%;
    right: 50%;
    bottom: 12px;
    height: 1px;

  }
  &:hover {
    &::before {
      border-bottom: 1px solid $secondary-light;
      right: 0;
      left: 0;    
    }
  }
}

.img-cover {
  object-fit: cover;
}


// @each $key, $value in $columns {
  // @include media-breakpoint-up(md) {
  //   .gx-#{key} {
      
  //   }
  // }
//   .col-#{$key} {

//   }
// }
