// utilities API
$utilities: ()!default;
$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      rfs: true,
      property: font-size,
      responsive: true,
      class: fs,
      values: $font-sizes
    )
  )
);