$navbar-brand-font-size:            1.5rem;


$mini-spacer: .25rem;
$custom-spacers: (   //æ”¹
  0: 0,
  1: $mini-spacer * 1,  //4
  2: $mini-spacer * 2,   //8
  3: $mini-spacer * 3,  //12
  4: $mini-spacer * 4,    //16
  5: $mini-spacer * 5,  //20
  6: $mini-spacer * 6,   //24
  7: $mini-spacer * 7,  //28
  8: $mini-spacer * 8,    //32
  9: $mini-spacer * 9,  //36
  10: $mini-spacer * 10,   //40
  11: $mini-spacer * 11,  //44
  12: $mini-spacer * 12,    //48
  13: $mini-spacer * 13,  //52
  14: $mini-spacer * 14,   //56
  15: $mini-spacer * 15,  //60
  16: $mini-spacer * 16,    //64
  20: $mini-spacer * 20,    //80

);

$spacers: map-merge($spacers, $custom-spacers);


